.code-viewer {
    border-left: 2px solid #ddd;
    margin: 0 36px 36px;
    padding: 16px;
}
.code-viewer__code {
    max-width: 100%;
    overflow-x: auto;

    pre,
    code {
        margin: 0;
    }
}

.code-viewer__buttons {
    padding: 0 0 12px 0;
}

.code-viewer__space {
    background-color: #f9f9f9;
}

.code-viewer__tab {
    position: relative;

    // using this instead of a border on __tab because the border
    // messes with the width (even with box-sizing: border-box...)
    &::before {
        position: absolute;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: #ccc;
        content: "";
    }
}

.code-viewer__highlight {
    background-color: #ffa;
}
