.code-viewer {
    border-left: 2px solid #ddd;
    margin: 0 36px 36px;
    padding: 16px;

    @media (max-width: 800px) {
        margin-left: 0;
        margin-right: 0;
        padding: 16px 4px;
    }
}
.code-viewer__code {
    max-width: 100%;
    overflow-x: auto;
    font-size: 18px;
    line-height: 1.5em;

    pre,
    code {
        margin: 0;
    }

    @media (max-width: 700px) {
        font-size: 16px;
        line-height: 1.3em;
    }

    @media (max-width: 500px) {
        font-size: 14px;
    }
}

.code-viewer__controls {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 12px 0;

    label {
        font-size: 12px;
        text-transform: uppercase;
    }
}

.code-viewer__space {
    display: inline-block;
    background-color: #f9f9f9;
}

.code-viewer__tab {
    display: inline-block;
    position: relative;

    // using this instead of a border on __tab because the border
    // messes with the width (even with box-sizing: border-box...)
    &::before {
        position: absolute;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: #ccc;
        content: "";
    }
}

.code-viewer__highlight {
    background-color: #ffa;
}
